@model AcademicUnit

<form method="post" action="/Admin/Index">
    <div class="mb-3">
        <label for="UnitName" class="form-label">Akademik Birim</label>
        <input type="text" asp-for="UnitName" class="form-control" id="UnitName" required>
    </div>
    <button type="submit" class="btn btn-primary">Ekle</button>
</form>



