@model List<Question>

@{
    var List2 = ViewBag.SubassessmentTools as List<SubAssessmentTool>;
    var y = 1;
    var x = 0;
}

<form method="post" action="/Teacher/HesaplamalarQuestionAdd2">
    <div class="fields">
        @foreach (var t in List2)
        {
            if("Final" == t.Title)
            {
                <div class="input-field" id="ekle2">
                    <label>Soru @x+1:</label>
                    <input asp-for="@Model[x].LowerRating" value="@t.LowerRating" id="ekle" class="form-control" />
                </div>
                <div class="input-field">
                    <label>Soru @y:</label>
                    <input value="@t.LowerRating" id="ekle" class="form-control" disabled />
                </div>
                <div class="input-field">
                    <label>Note:</label>
                    <input asp-for="@Model[x].Note" class="form-control" />
                </div>
                x++;
                y++;
            }
        }
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </div>
</form>
