<!DOCTYPE html>
<!---Coding By CoderGirl | www.codinglabweb.com--->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Samsun Ünversitesi | MÜDEK | Bilgi Sistemleri</title>
    <link rel="icon" href="~/jpg/Samu_logo.png">
  <!---Custom CSS File--->
  
</head>

<body>
  @RenderBody()
</body>

</html>
