@model SubAssessmentTool

<form method="post" action="/Teacher/Islem2">
    <div class="form-group">
        <label for="ad">Title:</label>
        <input type="text" asp-for="Title" class="form-control" id="Title" name="Title" />
    </div>
    <div class="form-group">
        <label for="soyad">Point:</label>
        <input type="text" asp-for="Point" class="form-control" id="Point" name="Point" />
    </div>
    
    <button type="submit" class="btn btn-primary">Gönder</button>
</form>