@{
    Layout = "_LayoutTeacher";
}

@{
    var List = ViewBag.assessmentTools as List<AssessmentTool>;
    var List2 = ViewBag.subAssessmentTools as List<SubAssessmentTool>;
    var sayi = 0;
    var i = 1;
    var c = 1;
}

<link rel="stylesheet" href="~/css/HesaplaStyle.css">

<section class="home">
    <div class="container">
        <header><img style="max-width: 150px;"
                src="https://samsun.edu.tr/wp-content/uploads/2019/09/samsun-universitesi-mavi-logo.png" alt="">
        </header>

        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Dersin Öğrenim Çıktıları</span>
                    

                    <table class="table table-bordered border-black table-hover"> 
                        <tr class="satir-1">
                            <th></th>
                            
                            @foreach (var item1 in List)
                            {
                                <th>@item1.Title</th>
                            }
                            @* <th colspan="2">Ödev</th>
                            <th>Vize</th>
                            <th>Final</th> *@
                        </tr>
                        <tr class="satir-2">
                            <th></th>
                            <th colspan="2">20</th>
                            <th>30</th>
                            <th>50</th>
                        </tr>
                        <tr class="satir-3">
                            <th></th>
                            <th>Ödev 1</th>
                            <th>Ödev 2</th>
                            <th>S1</th>
                            <th>Q1</th>
                        </tr>
                        <tr class="satir-4">
                            <th></th>
                            <th>50</th>
                            <th>50</th>
                            <th>100</th>
                            <th>100</th>
                        </tr>
                        <tr class="satir-5">
                            <th>Ö - 1</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="satir-5">
                            <th>Ö - 2</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="satir-5">
                            <th>Ö - 3</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="satir-6">
                            <th>Ağırlık</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>

                    </table>
                    <table class="table table-bordered border-danger table-hover">
                        <tr class="tab-satir-1">
                            <th>Öğrenci No</th>
                            <th>Ödev 1</th>
                            <th>Ödev 2</th>
                            <th>S1</th>
                            <th>Q1</th>
                            <th>Harf Notu</th>
                        </tr>
                        <tr class="tab-satir-2">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="tab-satir-3">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>

    </div>
</section>