@model List<AcademicUnit>

@{
    Layout = "_LayoutTeacher";
}

<link rel="stylesheet" href="~/css/sayfa1.css">
<section class="home">
    <div class="container">
        <header><img style="max-width: 150px;"
                src="https://samsun.edu.tr/wp-content/uploads/2019/09/samsun-universitesi-mavi-logo.png" alt="">

        </header>

        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Personal Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Akademik Birimler</label>
                            <select id="academicUnit" class="form-control">
                                <option selected disabled>Seçiniz</option>
                                @foreach (var item in Model)
                                {
                                    <option value="@item.UnitName">@item.UnitName</option>
                                }
                            </select>
                            @* <select required>
                            <option disabled selected>Seçiniz...</option>
                            <option>Ön Lisans</option>
                            <option>Lisans</option>
                            <option>Yüksek Lisans</option>
                            <option>Doktora</option>
                            </select> *@
                        </div>

                        <div class="input-field">
                            <label>Fakülteler</label>
                            <select id="faculties" class="form-control">
                                <option selected disabled>Seçiniz</option>
                            </select>
                            @* <select required>
                            <option disabled selected>Seçiniz...</option>
                            <option>ktisadi, İdari ve Sosyal Bilimler Fakültesi</option>
                            <option>İnsan ve Toplum Bilimleri Fakültesi</option>
                            <option>Mimarlık ve Tasarım Fakültesi</option>
                            <option>Mühendislik Fakültesi</option>
                            </select> *@
                        </div>

                        <script>
                            $(document).ready(function () {
                                $('#academicUnit').change(function () {
                                    var academicUnitId = $(this).val();
                                    $('#faculties').empty();
                                    $.ajax({
                                        type: "GET",
                                        url: '/Teacher/GetFacultiesByAcademicUnit',
                                        data: { academicUnitId: academicUnitId },
                                        success: function (data) {
                                            $.each(data, function (i, item) {
                                                $('#faculties').append('<option value="' + item.Value + '">' + item.Text + '</option>');
                                            });
                                        }
                                    });
                                });
                            });
                        </script>

                        <div class="input-field">
                            <label>Bölümler</label>
                            <select asp-items="@ViewBag.Department" class="form-control">
                                <option selected disabled>Seçiniz</option>
                            </select>
                            @* <select required>
                            <option disabled selected>Seçiniz...</option>
                            <option>ktisadi, İdari ve Sosyal Bilimler Fakültesi</option>
                            <option>İnsan ve Toplum Bilimleri Fakültesi</option>
                            <option>Mimarlık ve Tasarım Fakültesi</option>
                            <option>Mühendislik Fakültesi</option>
                            </select> *@
                        </div>

                        <div class="input-field">
                            <label>Eğitim Yılı</label>
                            <select required>
                                <option disabled selected>Seçiniz...</option>
                                <option>2023 - 2024</option>
                                <option>2024 - 2025</option>
                                <option>2025 - 2026</option>
                                <option>2026 - 2027</option>
                            </select>
                        </div>

                        <div class="input-field">
                            <label>Dönem</label>
                            <select required>
                                <option disabled selected>Seçiniz...</option>
                                <option>Güz</option>
                                <option>Bahar</option>
                            </select>
                        </div>

                        <div class="input-field">
                            <label>Dersler</label>
                            <select required>
                                <option disabled selected>Seçiniz...</option>
                                <option>Matamatik</option>
                                <option>Fizik</option>
                            </select>
                        </div>

                        <div class="input-field">
                            <button type="submit" class="btn btn-success">Kaydet
                                <i class="bi bi-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>