@{
    Layout = "_LayoutTeacher";
}
@model List<Teacher>
<link rel="stylesheet" href="~/css/ProfilAyarlariStyle.css">

<section class="home">
    <div class="container">
        <header><img style="max-width: 150px;"
                src="https://samsun.edu.tr/wp-content/uploads/2019/09/samsun-universitesi-mavi-logo.png" alt="">
        </header>

        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Profil Ayarları</span>

                    <div class="alert alert-light" role="alert">
                        <div class="card mb-1" style="max-width: 880px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg"
                                        class="img-thumbnail rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">

                                        <!-- <h6>İsim:</h6>
                                            <h6>Soyisim:</h6>
                                            <h6>Gmail:</h6> -->
                                        <!-- <table class="table table-with table-sm">
                                                <tr>
                                                    <th>İsim</th>
                                                    <th>Celal</th>
                                                </tr>
                                                <tr>
                                                    <th>Soyisim</th>
                                                    <th>Khalilov</th>
                                                </tr>
                                                <tr>
                                                    <th>Gmail</th>
                                                    <th>Khalilov@gmail.com</th>
                                                </tr>
                                            </table> -->
                                        <!-- <div class="alert alert-light" role="alert"> -->
                                        <h5 class="card-title">Card title</h5>
                                        <br>
                                        @foreach (var i in Model)
                                        {
                                            if (@i.Id == 1)
                                            {
                                                <h6>İsim:&nbsp;&nbsp;@i.LastName</h6>
                                                <hr>
                                                <h6>Soyisim:&nbsp;&nbsp;@i.FirstName</h6>
                                                <hr>
                                                <h6>Gmail:&nbsp;&nbsp;@i.Gmail</h6>
                                                <hr>
                                            }


                                        }


                                        <form class="form-profil" action="/upload" method="post"
                                            enctype="multipart/form-data">
                                            <label for="file">Select a file:</label><br>
                                            <input class="btn btn-primary" type="file" id="file" name="file"><br><br>
                                            <hr>
                                            <input class="btn btn-success" type="submit" value="Düzenle">
                                        </form>


                                        <!-- </div> -->
                                        <!-- <div class="alert alert-light" role="alert">
                                                <a href="#" id="profil-btn" class="btn btn-primary">Düzenle</a>
                                            </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="alert alert-light" role="alert">
                            <img src="profile.jpg" style="max-width: 200px; max-height: 200px;" class="img-thumbnail" alt="...">
                            <div class="alert alert-dark" role="alert">
                                A simple dark alert—check it out!
                              </div>
                        </div> -->

                </div>
            </div>
        </form>

    </div>
</section>