@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doğrulama</title>
    <link rel="stylesheet" href="~/css/HomeDogrulamaStyle.css" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <script src="~/js/HomeDogrulamaScript.js" defer></script>
    <link rel="icon" href="https://w7.pngwing.com/pngs/949/657/png-transparent-computer-icons-security-safety-symbol-safe-text-trademark-technic.png">
</head>

<body>
    @using (Html.BeginForm("Dogrulama", "Home", FormMethod.Post))
    {
        <div class="container">
            <header>
                <i class="bx bxs-check-shield"></i>
            </header>
            @if (ViewBag.Error != null)
            {
                <div style="background-color: red;" class="alert alert-danger " role="alert">
                    <div>
                        @ViewBag.Error
                    </div>
                </div>
            }
            <h4>Doğrulama Kodunu Girin</h4>

            <input type="hidden" name="email" value="@ViewBag.Email" />
            <div class="input-field">
                <input type="text" id="code" name="code" required /><br />
            </div>
            <button type="submit">Oturum Aç</button>
        </div>
    }
    
    @* @{
        string errorMessage = TempData["ErrorMessage"] as string;
    }

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <script>
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Girdiğiniz Şifre Hatalı Lütfen Tekrar Deneyin",
                footer: '<a href="#">Why do I have this issue?</a>'
            });
        </script>
    } *@
</body>

</html>
